*{
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    max-height: 600px;
    margin: 40px auto;
    background-color: rgb(197, 86, 86)2a;
}

h3{
    width: 100%;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0 auto;
    text-align: right;
    height: 80px;
    font-size: 50px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

button{
    outline: none;
    border: none;
    color: white;
    background-color: rgb(11, 3, 51);
    width: 120px;
    height: 120px;
    border-radius: 0;
    font-size: 50px;
    font-weight: 400;
}

button:hover{
    background-color:  rgb(3, 3, 68);
}